.midSectionImages {
  width: 98%;
  /* border: 1px solid red; */
  margin-left: 2%;
  display: flex;
  gap: 8%;
}

.midSectionImages > div:nth-child(1) {
  width: 65%;
  /* border: 1px solid red */
}
.leftMidSectionImages > img {
  width: 100%;
}


.leftMidSectionImages > p {
  width: 90%;
  margin: auto;
  font-size: 20px;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

.faqSection {
  border: 1px solid rgb(219, 215, 215);
  font-size: 16px;
  display: flex;
  padding: 26px 100px;
  gap: 5px;
}
.faqSection > img {
  margin-top: -1.3%;
  width: 7%;
  height: 40px;
}

.faqSection + p {
  font-size: 15px;
  color: grey;
}
.optionTitle {
  font-size: 17px;
  font-weight: 500;
}
.rightSideDiv {
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  margin-top: 3%;
  width: 80%;
  height: auto;
  border: 1px solid rgb(185, 183, 181);
}

.rightSideDiv:hover{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.rightSideDiv > img {
  width: 100%;
  height: 230px;
}

.rightSideDiv > p {
  padding-left: 6%;
  line-height: 30px;
}

.rightSideDiv > p:nth-child(2) {
 
  font-weight: 500;
  font-size: 20px;
  margin-top: 8%;
  width: 100%;
  text-align: left;
  line-height: 35px;
  margin-bottom: 2%;
}

.shippingText {
  font-size: 17px;
  /* font-weight: 300; */
}
.shippingText ~ p {
  font-weight: 300;
  line-height: 30px;
  font-size: 17px;
}

.shippingText ~ p:last-child {
  margin-bottom: 5%;
}

.handlePerk {
  width: 90%;
  font-weight: 500;
  font-size: 12px;
  margin-left: 5%;
  color: #e51075;
  padding: 10px 40px;
  margin-bottom: 6%;
  border: 1px solid rgb(183, 182, 182);
}
